

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<h2>Category</h2>


<a class="btn btn-primary" href="/store/createcategory">Create</a>
<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr text-align: center;>
            <td>@c.Id</td>
            <td>@c.Name</td>
        
            <td> <a href="/Store/editcategory/@c.Id" class="btn btn-primary">Edit</a> <a href="/store/deletecategory/@c.Id" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>